<div class="search-product text-right">
    <form>
        <input type="search" placeholder="Pesquisar" ng-model="searchProduct">
    </form>
</div>
<div class="products-container">
    <div class="row">
        <div ng-repeat="product in products | filter: searchProduct" class="col">
            <div class="thumbnail card">
                <div class="label-category text-right">
                    <span class="label label-primary">{{product.category}}</span>
                </div>
                <img src="{{product.url}}" alt="sem foto">
                <div class="caption">
                    <h4>{{ product.name }}</h4>
                    <h5>{{ product.description }}</h5>
                    <div class="row">
                        <h3>{{ product.price }} R$</h3>
                        <div class="products-icons text-right">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="glyphicon glyphicon-trash" ng-click="delete(product.id)"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="loader" ng-if="onLoading"></div>

    <a class="float text-center" data-toggle="modal" ui-sref="novo-produto">
        <p class="my-float">+</p>
    </a>
</div>
