<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body ng-app="nerb-store">
     <nav class="navbar navbar-dark bg-dark navbar-fixed-top">
      <a class="NOnavbar-brand" href="#/home">
        <p class="logo">Nerb Store</p>
      </a>
    </nav>

    <div id="wrapper">
      <div id="sidebar-wrapper" >
        <ul class="sidebar-nav">
          <li>
            <a ui-sref="home">
              <span class="glyphicon glyphicon-home"></span>
              <span class="menu-option"> Início</span>
            </a>
          </li>
          <li>
            <a ui-sref="produtos">
              <span class="glyphicon glyphicon-list-alt"></span>
              <span class="menu-option"> Produtos</span>
            </a>
          </li>
          <li>
            <a href="#/statistics">
              <span class="glyphicon glyphicon-stats"></span>
              <span class="menu-option"> Estatísticas</span>
            </a>
          </li>
          <li>
            <a href="#/configurations">
              <span class="glyphicon glyphicon-cog"></span>
              <span class="menu-option"> Configurações</span>
            </a>
          </li>
          <li>
            <a href="#/about">
              <span class="glyphicon glyphicon-user"></span>
              <span class="menu-option"> Sobre</span>
            </a>
          </li>
        </ul>
      </div>
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="view-container" id="wrapper">
                <ui-view></ui-view>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
